body {
  background: #ccc; 
}

#wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#clock {
  border: 8px solid #5c5c5c;
  background: #fff;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.arrow {
  height: 2px;
  background: #5c5c5c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 7px;
}

#hour-arrow {
  width: 85px;
}

#minute-arrow {
  width: 100px;
}

#second-arrow {
  background: #a00;
  width: 115px;
}
